<div class="listener-chart" *ngIf="plot.length > 0; else empty">
  <div class="lc-frame">
    <svg
      #svg
      [attr.viewBox]="'0 0 ' + width + ' ' + height"
      preserveAspectRatio="none"
      class="lc-svg"
      (mousemove)="onMove($event, svg)"
      (mouseleave)="onLeave()"
    >
      <defs>
        <linearGradient id="lc-band" x1="0" y1="0" x2="0" y2="1">
          <stop offset="0%" stop-color="var(--color-accent)" stop-opacity="0.28" />
          <stop offset="100%" stop-color="var(--color-accent)" stop-opacity="0.02" />
        </linearGradient>
      </defs>

      <!-- gridlines + y labels -->
      <g class="lc-grid">
        <line
          *ngFor="let t of yTicks"
          [attr.x1]="padding.left"
          [attr.x2]="width - padding.right"
          [attr.y1]="t.y"
          [attr.y2]="t.y"
        />
      </g>
      <g class="lc-ylabels">
        <text *ngFor="let t of yTicks" [attr.x]="padding.left - 8" [attr.y]="t.y + 3">{{ t.label }}</text>
      </g>

      <!-- min-max band -->
      <path [attr.d]="bandPath" fill="url(#lc-band)" stroke="none" />
      <!-- average line -->
      <path [attr.d]="avgPath" class="lc-avg" fill="none" />

      <!-- x labels -->
      <g class="lc-xlabels">
        <text *ngFor="let t of monthTicks" [attr.x]="t.x" [attr.y]="height - 8">{{ t.label }}</text>
      </g>

      <!-- hover crosshair + marker -->
      <g *ngIf="hover" class="lc-hover">
        <line [attr.x1]="hover.x" [attr.x2]="hover.x" [attr.y1]="padding.top" [attr.y2]="height - padding.bottom" />
        <circle [attr.cx]="hover.x" [attr.cy]="hover.yAvg" r="4" />
      </g>
    </svg>

    <div class="lc-tooltip" *ngIf="hover" [ngStyle]="tooltipStyle">
      <div class="lc-tt-date">{{ tooltipDate(hover.data.date) }}</div>
      <div class="lc-tt-row"><span>avg</span><b>{{ hover.data.avg }}</b></div>
      <div class="lc-tt-row"><span>peak</span><b>{{ hover.data.max }}</b></div>
      <div class="lc-tt-row"><span>low</span><b>{{ hover.data.min }}</b></div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="listener-chart lc-empty">No listener history yet.</div>
</ng-template>
